# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.zip
*.json
*.npy
*.tgz
*.txt
*.v++
*.log
*.svmlight
*.graph
*.split
_x/
.ipcache/
/reddit
/src/SW/data
/src/SW/reddit
/src/FPGA/data
/data
/.vscode
/gcn-*
/include

